@charset "utf-8";

/*CSSここから　冒頭部分*/


html,body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}


li {
  list-style: none;
}


/*ここから自分CSSコード*/

.header{
    background-color: #2f8db5;
    height: 90px;
    color: white;

}

.header-logo{
   padding: 20px 40px;
   font-size: 36px;
   float: left;
}


.header-list li {
   float: left;
   padding: 33px 20px  
   
}


.main {
  padding: 100px 80px
}


.title{
  padding-bottom:10px;
}


.teitle h1{
    font-size: 140px;
    margin: 100px 80px 100px 80px; 
}

.title h2{
    font-size: 30px;
    margin-top: 100px;
    border-bottom: 2px #dee7ec;
    padding-bottom: 15px;
}




.lesson {
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
}


.contents {
  margin-top: 100px;
  height: 500px;

}


.movie-contents{

  float:left;
  margin-right: 20px;
  
}


.form-contents{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 50px;
}

.contact-form p{
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 30px;
 
  


}



input,textarea{
 padding: 20px;
 margin-top: 10px;
 margin-bottom: 30px;
 width: 400px;
 font-size: 18px;
 
}

.footer {
  background-color: #2f8db5;
  color: white;
  height: 80px;
  padding: 40px;
  font-size: 32px;

}