:root {
  --color-white: #fbfbfb;
  --color-blue: #497ce9;
  --color-pink: #ffffff;
  --color-beige: #ffffff;
  --color-semi-white: #497ce9;
  --color-gray: #ffffff;
  --color-white-gray: #f7f7f7;
  --color-orange: #497ce9;  
  --color-black: #020202;
}

body {
  margin: 0;
}

/* header css */

header {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  background-color: var(--color-blue);
}

#header-title {
  margin-left: 20px;
}

#header-inquiry {
  margin-right: 20px;
}

/* hero image */

#hero-image-section {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-pink);
  object-fit: cover;
  height: 630px;
}

#head-copy {
  padding-top: 60px;
  text-align: center;
}

#head-copy p {
  margin-top: 10px;
}

#head-copy h2{
  font-size: 70px;
}

p1{
  font-size: 25px;
}




.hero-image {
  width: 400px;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  object-fit: contain;
  
}

/* worries */
#worries-section {
  background-color: var(--color-beige);
  height: 600px;
  
}

#worries-title {
  display: flex;
  justify-content: space-evenly;
}

#worries-title-pre{
  display: flex;
  justify-content: space-evenly;
}

#worries-contents {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.worries-image-wrapper {
  position: relative;
}

.worries-image-wrapper p {
  font-weight: bold;
}


.worries-image-wrapper::after {
  content: "";
  position: absolute;
  top: 350px;
  left: calc(50% - 2px);

  border: 2px solid var(--color-blue);

  width: 0px;
  height: 200px;
  opacity: 0.5;
  
}

.worries-image-wrapper::before {
  content: "";
  position: absolute;
  top: 554px;
  left: 50%;
  
  /* 矢印の形状を作成 */
  border: 6px solid transparent;
  border-top-color: var(--color-blue); /* 矢印の色を設定 */
  border-width: 10px 6px; /* 矢印の大きさを設定 */
  margin-left: -6px; /* 矢印の横位置を微調整 */
  opacity: 0.5;
}

.worries-image {
  width: 300px;
  height: 300px;
  margin: 30px 0 10px;
  padding: 2px;
  border: 1px solid var(--color-blue);
  object-fit: cover;
  
}

.worries-image-wrapper  p {
  margin: 0;
  text-align: center;
}



/* solution */
#solution-section {
  background-color: var(--color-white);
  height: 550px;
}

#solution-title {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

#solution-contents {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-weight: bold;
}

.solution-image {
  width: 290px;
  height: 290px;
  margin: 30px 0 10px;
  object-fit: contain;
  padding: 15px;
  border: 1px solid var(--color-blue);
}



.solution-image-wrapper p {
  text-align: center;
  margin: 0 ;
}


/* about-service */
.about-service-section {
  background-color: var(--color-pink);
  height: 580px;
}

.about-service-title {
  display: flex;
  justify-content: space-evenly;
}

.about-service-contents {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.about-service-image-wrapper p {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}



.about-service-image {
  width: 300px;
  height: 300px;
  margin: 0;
  object-fit:contain;
  padding: 10px;
  border: 1px solid var(--color-blue);
}

.about-service-image-a {
  width: 200px;
  height: 200px;
  margin: 0;
  object-fit:scale-down;
  padding: 10px;
  border: 1px solid var(--color-blue);
}

/* self-introduction */
#self-introduction-section {
  background-color: var(--color-white-gray);
  height: 580px;
}

#self-introduction-title {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#self-introduction-contents {
  display: flex;
  /* justify-content: space-evenly; */
}

#self-introduction-image-wrapper {
  width: 60%;
  text-align: center;
}

#self-introduction-image {
  width: 350px;
  height: 350px;
  margin: 30px auto;
  object-fit:cover;
}

#self-introduction-text-wrapper {
  width: 50%;
  font-size: 18px;
}

#self-introduction-text {
  padding: 20px 80px 20px 20px;
}

/* achievement */
#achievement-section {
  background-color: var(--color-pink);
  height: 740px;
  
}

#achievement-title {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

#achievement-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.achievement-image-wrapper {
  text-align: center;
  height: 280px;
  width: 300px;
  margin: 0 50px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-black);
}

.achievement-image {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: scale-down;
}

/* ctr */
.ctr-section {
  background-color: var(--color-white-gray);
  width: 100%;
  height: px;
  display: flex;
  justify-content: space-evenly;
}

.ctr-section button {
  height: 60px;
  width: 400px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-blue);
  margin: 20px auto;
  font-size: 20px;
  font-weight: 400;
  color:var(--color-white);
}

/* charge */
#charge-section {
  background-color: var(--color-white-gray);
}

#charge-title {
  display: flex;
  justify-content: space-evenly;
}

#charge-contents {
  display: flex;
  flex-direction: column;
}

.charge-detail {
  background-color: var(--color-gray);
  width: 80%;
  height: 150px;
  margin: 20px auto;
}

.charge-detail:last-child {
  margin-bottom: 70px;
}

.charge-detail p {
  text-align: center;
  margin: 55px auto;
  font-size: 20px;
}

/* inquiry */
.inquiry-section form {
  padding: 40px 15%;
}

.inquiry-section label {
  display: flex;
  /* align-self: center; */
  /* justify-content: space-between; */
}

.inquiry-section label:not(:last-child) {
  margin-bottom: 20px;
}

.inquiry-label-name {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-right: 20px;
  width: 50%;
  font-weight: 700;
}

.inquiry-label-textarea {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  padding-top: 5px;
  padding-right: 20px;
  width: 50%;
  font-weight: 700;
}

.required {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1;
  background-color: var(--color-blue);
  border-radius: 10px;
  color: var(--color-white);
  font-weight: 400;
}

.form-input, textarea {
  display: block;
  padding: 20px;
  flex: 1;
  background-color: var(--color-unread-part);
  border: 2px solid var(--color-blue);
  border-radius: 10px;
}

.submit-btn {
  display: block;
  cursor: pointer;
  background-color: var(--color-blue);
  border: 2px solid var(--color-white);
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-white);
  margin-left: auto;
  margin-top: 40px;
}