:root {
  --color-white: #fbfbfb;
  --color-black: #000000;
  --color-pink: #F8C1C1;
  --color-beige: #E7E5CC;
  --color-semi-white: #FFFFF2;
  --color-gray: #83838399;
}

body {
  margin: 0;
}

/* header css */

header {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  background-color: var(--color-black);
}

#header-title {
  margin-left: 20px;
}

#header-inquiry {
  margin-right: 20px;
}

/* hero image */

#hero-image-section {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-pink);
}

#head-copy {
  padding-top: 60px;
  text-align: center;
}

#head-copy p {
  margin-top: -20px;
}

.hero-image {
  width: 300px;
  height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* worries */
#worries-section {
  background-color: var(--color-beige);
}

#worries-title {
  display: flex;
  justify-content: space-evenly;
}

#worries-contents {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.worries-image-wrapper {
  position: relative;
}

.worries-image-wrapper::after {
  content: "";
  position: absolute;
  top: 350px;
  left: calc(50% - 2px);

  border: 2px solid var(--color-gray);

  width: 0px;
  height: 100px;
}

.worries-image-wrapper::before {
  content: "";
  position: absolute;
  top: 454px;
  left: 50%;
  
  /* 矢印の形状を作成 */
  border: 6px solid transparent;
  border-top-color: var(--color-gray); /* 矢印の色を設定 */
  border-width: 10px 6px; /* 矢印の大きさを設定 */
  margin-left: -6px; /* 矢印の横位置を微調整 */

}

.worries-image {
  width: 300px;
  height: 300px;
  margin: 30px 0;
}



/* solution */
#solution-section {
  background-color: var(--color-semi-white);
}

#solution-title {
  display: flex;
  justify-content: space-evenly;
}

#solution-contents {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.solution-image {
  width: 300px;
  height: 300px;
  margin: 30px 0;
}

/* about-service */
#about-service-section {
  background-color: var(--color-pink);
}

#about-service-title {
  display: flex;
  justify-content: space-evenly;
}

#about-service-contents {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.about-service-image {
  width: 300px;
  height: 300px;
  margin: 30px 0;
}